img {
  position: absolute;
}

#creme {
  background: url('../img/pote.png') no-repeat center center #FFCC33;
  position: absolute;
  border: 6px outset white;
  height: 75px;
  width: 75px;
  left: 2px;
  top: 40px;
}

#menu {
  background-color: white;
  position: absolute;
  height: 760px;
  width: 80px;
}

#rosto {
  position: absolute;
  left: 90px;
}

#retina {
  position: absolute;
  left: 400px;
  top: 200px;
  display: block;
}

#lens {
  background: url('../img/rosto_sujo.jpg') no-repeat gray;
  border: 2px solid gray;
  position: absolute;
  height: 142px;
  width: 161px;
  left: 53px;
  top: 42px;
  -webkit-border-radius: 110px 98px 122px 96px;
}
